*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
img{
 width: 100px;
}
body{
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
header{
    width: 100%;
    position: absolute;
    z-index: 999;
}
header nav{
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .logo img{
    width: 50px;
}
nav ul{
    width: 800px;
    display: flex;
    justify-content: space-between;
}
nav ul .nav-list{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 13px;
    color: white;
    border: 1px solid rgba(224, 224, 224, 0);
}
nav ul .nav-list:hover{
    background-color: rgba(207, 207, 207, 0.308);
    border: 1px solid rgba(224, 224, 224, 0.37);
    transition: all 0.3s ease;
}
nav ul .nav-list i{
    font-size: 1.1em;
    color: rgba(247, 247, 247, 0.432);
}
nav ul .nav-list li{
    font-weight: 600;
    font-size: 1em;
}

/* Bagian isi */
main{
    /* border: 1px solid red; */
    padding-top: 150px;
    width: 100%;
    background: linear-gradient(360deg, #010c3d 0%, #4316DB 100%);
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
main .layer-one{
    /* border: 1px solid; */
    width: 100%; 
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: space-between;
  
}
main .layer-one img.hero-image{
    /* border: 2px solid red; */
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: flo 5s infinite;
    transition: 1s;
}

  @keyframes flo{
    50%{
      transform: translate(-50%,-55%);
    }
  }

main .layer-one img.child-hero{
    transition: 0.5s;
}
main .layer-one img.child-hero:hover{
    transform: skew(-4deg, 10deg);
}
main .layer-one .deskripsi{
    width: 300px;
}
/* main .layer-one .side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 20px; 
} */
.side {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    position: relative;
    animation: pop .6s forwards cubic-bezier(0.52, -0.91, 0.2, 1.6), borderRadius 5s .6s linear infinite alternate;
 }
 .side img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transform: scale(1); */
    /* z-index: 2; */
}
/* .side::before{
  
   content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    mix-blend-mode:multiply;
    -webkit-mix-blend-mode:multiply;
    z-index: 1;
} */



@keyframes borderRadius 
{
    0% {
        border-radius: 61% 39% 51% 49% / 41% 53% 47% 59%; 
        transform: scale(1);
    }
    30%{
        border-radius: 49% 51% 56% 44% / 48% 40% 60% 52% ;
    }
    50%{
        /* border-radius: 56% 44% 56% 44% / 43% 44% 56% 57% ; */
        border-radius: 41% 59% 53% 47% / 40% 41% 59% 60% ;
    }
    70%{
        border-radius:43% 57% 44% 56% / 55% 51% 49% 45% ; 
    }
    90%{
        border-radius: 52% 48% 59% 41% / 47% 55% 45% 53% ;
    }
    100%{
        border-radius: 46% 54% 49% 51% / 47% 51% 49% 53% ; 
        transform: scale(.9);
    }
}
@keyframes pop {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
