*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --colorDarkTitle: #020202;
    --colorDarkText: #000000ee;
    --colorLightText: #ffffffee;
    --colorLightTitle: #FEFEFE;
}
::-webkit-scrollbar {height:2px;width: 2px;background: rgba(204, 204, 204, 0);}
::-webkit-scrollbar-thumb {background-color: #9baeff;-moz-border-radius: 10px;border-radius: 10px;}
img{
 width: 100px;
}
body{
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
header{
    width: 100%;
    position: absolute;
    z-index: 999;
}
header nav{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .logo img{
    width: 50px;
}
nav ul{
    width: 800px;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}
nav ul .nav-list{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 13px;
    color: white;
    border: 1px solid rgba(224, 224, 224, 0);      

}
nav ul .nav-list:hover{
    background-color: rgba(207, 207, 207, 0.308);
    border: 1px solid rgba(224, 224, 224, 0.37);
    transition: all 0.3s ease;
}
nav ul .nav-list i{
    font-size: 1.1em;
    color: rgba(247, 247, 247, 0.432); 
}
nav ul .nav-list li{
    font-weight: 600;
    font-size: 0.9em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
nav ul .nav-list:nth-child(5){
    position: relative;
    display: block;
    background-color: transparent;
    color: rgba(247, 247, 247, 0.432);
    margin-top: 4px;
    cursor: pointer;
}
nav ul .nav-list:nth-child(5) .list{
    display: flex;
    justify-content: flex-start;
    position: relative;
    border: 1px solid rgba(224, 224, 224, 0);
    border-radius: 13px;
}
nav ul .nav-list:nth-child(5) .list:not(:last-child){
    display: none;
}
nav ul .nav-list:nth-child(5) .list:hover{
    background-color: rgba(207, 207, 207, 0.308);
    border: 1px solid rgba(224, 224, 224, 0.37);
    transition: all 0.3s ease;
}
nav ul .nav-list:nth-child(5) .list li{
    position: absolute;
    left: 50px;
}
nav ul .nav-list:nth-child(5):hover{
    background-color: rgba(207, 207, 207, 0.308);
    border: 1px solid rgba(224, 224, 224, 0.37);
    transition: all 0.3s ease;
}
.dropbtn{
    z-index: 3;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: rgba(1, 3, 24, 0.308);
    color: white;
    min-width: 160px;
    width: 170px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
    transition: ease-in-out 0.7s;
    padding: 25px;
  }
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .show {display: block;}


/* Bagian isi */
main{
    /* border: 1px solid red; */
    padding-top: 150px;
    width: 100%;
    background: linear-gradient(360deg, #b80de2 0%, #4316DB 100%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .layer-one{  
    width: 100%;    
    z-index: 1;
}
main .layer-one .layer{   
    width: 90%;
    max-width: 1200px;    
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between; 
}
main .layer-one img.hero-image{
    /* Bingung mau di taro dimana di tengah atau di kanan */
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    position: absolute;
    left: 60%;
    top: 53%;
    transform: translate(-50%, -50%);
    animation: flo 5s infinite;
    transition: 1s;
}
  @keyframes flo{
    50%{
      transform: translate(-50%,-52%);
    }
  }

main .layer-one img.child-hero{
    transition: 0.5s;
}
main .layer-one img.child-hero:hover{
    transform: skew(-4deg, 10deg);
}
main .layer-one .deskripsi{  
    width: 300px;
    margin: 20px 0;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 1;
}
main .layer-one .deskripsi h1{
  font-size: 3.2em;
  line-height: 1.2em;
}
main .layer-one .deskripsi p{
  font-size: 1.2em;
}
main .layer-one .deskripsi a{
  display: flex;
  width: 260px;
  background-color: white;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 20px;
  z-index: inherit;
}
main .layer-one .deskripsi a .splotch{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b80de2;
}
main .layer-one .deskripsi a .text p{
    font-weight: 600;
}
main .layer-one .deskripsi a .splotch i{
    color: white;
    font-size: 1.5em;
}
main .layer-one aside{
    position: relative;
    display: flex;
    align-items: center;
}


main .layer-one aside a p{
    padding-bottom: 3px;
    font-weight: 900;
    font-size: 1.1em;
}
main .layer-one aside a i{
    font-weight: 900;
}
main .layer-one aside a{
    /* border: 1px solid ; */
    position: sticky;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 100px;
    width: 300px;
    height: 65px;
    transform: rotate(-270deg);
    color: white;
    background-color: rgba(209, 209, 209, 0.315);
    margin-right: -130px;
}
#wave{
    margin-top: -100px;
}
#wave1{
    margin-top: -340px;
}
#wave2{
    margin-top: -200px;
}
.layer-two{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* max-width: 1100px; */
    margin: 0 auto;
    background: #14135C;
}
.layer-two .layer{
    margin: 0 auto;   
    width: 90%;
    max-width: 1200px;
    position: relative;
}
.layer-two .about-layer-two{
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -200px;
}
.layer-two .about-layer-two .desc{
    width: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.layer-two .about-layer-two .desc span{
    opacity: 0.7;
    font-weight: 600;
}
.layer-two .about-layer-two .desc h2{
    font-size: 2.5em;
}
.layer-two .about-layer-two .desc p{
    font-size: 1.1em;
}
.layer-two .about-layer-two .icon{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}
.layer-two .about-layer-two .icon img{
    width: 43px;
}
.layer-two .about-layer-two .icon button{
    background: rgba(255, 255, 255, 0.3);
    color: white;
    opacity: 0.7;
    width: 120px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    font-size: 0.9em;
}
.c{
    color: rgba(0, 0, 0, 0.795);
}
.content-layertwo{
    width: 100%;
    top: 70px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.content-article{
    
    display: flex;
    gap: 30px;
}
.article-berita,
.article-knowleg{
    width: 100%;
    
    display: flex;
    background: rgba(255, 255, 255, 0.699);
    padding: 20px;
    border-radius: 20px;
}
.article{
    width: 130%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.article ol{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 250px;
    overflow-y: scroll;
    scrollbar-width: 1;
    gap: 15px;
    padding: 0 10px;
}
.article ol .list-article{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.nomor-article{
    width: 37px;
    height: 37px;
    border-radius: 100px;
    background: #D7D8F0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.data-article{
    width: 80%;
}
.kategory-article{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background: rgb(45, 1, 128);
    border-radius: 20px;
}
.kategory-article h3{
    text-align: center;
    color: var(--colorLightTitle);
}
.kategory-article span{
    text-align: center;
    color: var(--colorLightText);
}

.content_assets{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
    gap: 25px;
}
.col_asset{
    border-radius: 10px;
}
.img_asset{
    width: 100%;
    border-radius: 10px;
}
.layer-two_bg-two{
    
    width: 100%;
    height: 500px;
    background: rgba(255, 255, 255, 0.9);
}
.btn-browse{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: rgba(18, 5, 73, 0.3);
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 100px;
}

@media screen and (max-width: 950px){
    nav ul .nav-list:nth-child(4){
        display: none;
    }    
    nav ul .nav-list:nth-child(5) .list:nth-child(3)
    {
        display: flex;
    }
}
@media screen and (max-width: 750px){
    nav ul .nav-list:nth-child(3){
        display: none;
    } 
    nav ul .nav-list:nth-child(5) .list:nth-child(2)
    {
        display: flex;
    }
}
@media screen and (max-width: 670px){
    nav ul .nav-list:nth-child(2){
        display: none;
    } 
    nav ul .nav-list:nth-child(5) .list:nth-child(1)
    {
        display: flex;
    }
}

@media screen and (max-width: 550px){
        
}